In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv("color-concrete-objects.csv")

In [2]:
data

         object   color
0           ash    grey
1        banana  yellow
2        beaver   brown
3         blood     red
4      broccoli   green
5     cardboard   brown
6        carrot  orange
7   cauliflower   white
8         cello   brown
9         chalk   white
10       cherry     red
11        cloud   white
12       clover   green
13         coal   black
14    cockroach   brown
15       coffee   brown
16         corn  yellow
17       cotton   white
18         crow   black
19         deer   brown
20      dolphin    grey
21     elephant    grey
22        flour   white
23         foam   white
24          fog    grey
25       forest   green
26        froth   white
27       garlic   white
28         gold  yellow
29      gorilla   black
30        grass   green
31      lettuce   green
32          mud   brown
33      mustard  yellow
34      parsley   green
35          pig    pink
36        salad   green
37          sea    blue
38       shadow   black
39   silhouette   black
40          sky    blue
41        slate    grey
42         snow   white
43         soil   brown
44      spinach   green
45   strawberry     red
46         swan   white
47          tin    grey
48        vinyl   black
49       violin   brown
50         weed   green
51         wood   brown

In [3]:
data.head(10)

        object   color
0          ash    grey
1       banana  yellow
2       beaver   brown
3        blood     red
4     broccoli   green
5    cardboard   brown
6       carrot  orange
7  cauliflower   white
8        cello   brown
9        chalk   white

In [7]:
training_data = [['ash','grey'],['banana','yellow'],['beaver','brown'],['blood','red'],['broccoli',
'green'],['cardboard','brown'],['carrot','orange'],['cauliflower','white'],['cello','brown'],['cello','brown'],['chalk','white'],
['cherry','red'],['cloud','white'],['clover','green'],['coal','black'],['cockroach','brown'],['coffee','brown'],['corn','yellow'],
['cotton','white'],['crow','black'],['deer','brown']]

header = ["object","color"]
def unique_vals(rows,col):
    return set([row[col] for row in rows])

def class_counts(rows):
    counts = {}
    for row in rows:
        label = row[-1]
        if label not in counts:
            counts[label]=0
        counts[label] += 1
    return counts

def is_numeric(value):
    return isinstance(value,int)or isinstance(value,float)

class question:
    
    def _init_(self,column,value):
        self.column = column
        self.value = value
    
    def match(self,example):
        val = example[self.column]
        if is_numeric(val):
            return val >= self.value
        else:
            return val == self.value
        
    def _repr_(self):
        condition = "=="
        if is_numeric(self.value):
            condition = ">="
        return "is %s %s %s?" % (header[self.column],condition,str(self.value))
    
    def partition(rows,question):
        true_rows, false_rows == [],[]
        for row in rows:
            if question.match(row):
                true_rows.append(row)
            else:
                flase_rows.append(row)
        return true_rows,false_rows
    
    def gini(rows):
        counts = class_counts(rows)
        impurity = 1
        for lbl in counts:
            prob_of_lbl = count[lbl] / float(len(rows))
            impurity -= prob_of_label ** 2
        return impurity